<% @title = 'News' %>

<h1>News</h1>

<% if signed_in? %>
	<%= link_to "Add a new", new_new_path %>
<% end %>

<ul>
<% @news.each do |new| %>
<li>
	<%= new.title %> | 
	<%= new.content %> | 
	<%= new.date_expiration %> |
	<% if new.avatar? %>
		<%= image_tag new.avatar.url %>
	<% end %>
	<% if signed_in? %>
		<%= link_to "delete", new_path(new), method: :delete, confirm: "Are you sure ?" %> |
		<%= link_to "modifiy", edit_new_path(new) %>
	<% end %>
</li>
<% end %>
</ul>
