<% @title = @gallery.name %>

<style type="text/css">
	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}
</style>

<% if signed_in? %>
	<p><%= link_to "Delete", gallery_path(@gallery), method: :delete, confirm: "Are you sure ?" %></p>
	<p><%= link_to "Modify", edit_gallery_path(@gallery) %></p>
	<p><%= link_to "Add paintings", new_gallery_painting_path(@gallery) %></p>
<% end %>

<h1><%= @gallery.name %></h1>
<h2><%= @gallery.description %></h2>

<% @gallery.paintings.each do |painting| %>
	
	<a class="fancybox-buttons" data-fancybox-group="button" href="<%= painting.image_url %>"><img src="<%= painting.image_url(:thumb) %>" alt="" /></a>

<% end %>s